@import url('./components/banner-user/index.less');
@import url('./components/avatar-user/index.less');

.form-signup{
    border: 1px solid @metaplex-primary-color;
    width: 50vw;
    margin: 2rem auto;
    border-radius: 15px;
    .btn-edt-banner{
        border-color: #fff !important;
        color: #fff !important;
    }
    .ant-btn-primary {
        background-color: @metaplex-primary-color !important;
        color:#fff !important;
    }
}
.form-signup-btn{
    background-color: @metaplex-primary-color !important;
    color:#fff !important;
}